<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<footer th:fragment="myfooter">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>安文博 &amp; 张矜</h2>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2020  <a href="#">Module</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>